/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css"; 
body { padding: 20px;}
div { padding: 10px;}
button {
    margin: 0 5px; /* Space between buttons */
  }
